body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 1;
    background-color: #84b0db;
}

.product-card {     /*Cards utlizados*/
    display: flex;
    flex-direction: column;
    max-width: 350px;
    border: 3px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(223, 32, 32, 0.1);
    background-color: rgb(255, 255, 255);
    transition: transform 0.5s ease;
    display:  inline-block;
    
    
}

.product-card:hover {
    transform: translateY(-9px);
}

.product-image img {
    width: 100%;
    height: auto;
    display: inline-block;
}

.product-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;
}

.product-details h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #a70d0d;
}

.button:hover

{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;



}

