body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #000000ee, #7cb3e9);
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


button {
    margin-top: 25px;
    padding: 10px 20px;
    background-color: #faf8f8;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

button:hover {
    background-color: #da3214;
    color: white;
}

footer {
    position: absolute;
    bottom: 40px;
    color: rgb(10, 0, 0);
    font-size: 17px;
}
